<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.system.mapper.SysDiscussionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.video.system.domain.SysDiscussion">
        <id column="mycourse_id" property="mycourseId" />
        <result column="user_id" property="userId" />
        <result column="course_id" property="courseId" />
        <result column="course_discussion" property="courseDiscussion" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        mycourse_id, user_id, course_id, course_discussion
    </sql>

</mapper>
