<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.video.system.mapper.SysSelectOptionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.video.system.domain.SysSelectOptions">
        <id column="options_id" property="optionsId" />
        <result column="options" property="options" />
        <result column="topic_id" property="topicId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        options_id, options, topic_id
    </sql>

    <insert id="addSaveSelectOptions" parameterType="com.video.system.domain.SysSelectOptions">
        insert into
        sys_select_options(options, topic_id)
        values
        <foreach collection="list" separator="," item="i">
            (#{i.options},#{i.topicId})
        </foreach>
    </insert>
</mapper>
